{% extends 'public/base.html' %}
{% load static %}
{% block title %}Steam游戏搜索{% endblock %}
{% block content %}
    {% if request.session.is_login or request.session.wx_is_login %}
        <h1>搜索</h1>
        <li>
            <form action="{% url 'search:steam_search' %}" method="get">
                {% csrf_token %}
                <input type="text" name="text" placeholder="请输入关键字">
                <input type="submit" id="search" value="搜索">
            </form>
        </li>
        <h1>你可能想看这些......</h1>
        {% if random_games_list %}
            <ul>
                {% for game in random_games_list %}
                    <div class="media">
                        <a href="{% url 'SteamGames:id_detail' game.ID %}" class="list-group-item active">
                            <div class="media-body">
                                {% if game.FinalPrice < game.LastPrice %}
                                    <h3 class="list-group-item-heading">降价{{ game.DiscountPct }}！！！</h3>
                                {% endif %}
                                <h4 class="list-group-item-heading">{{ game.GameName }}</h4>
                                <p class="list-group-item-text">ID：{{ game.ID }}</p>
                                {% if game.OriginalPrice == 'no original_price' %}
                                    <p class="list-group-item-text">原价：{{ game.FinalPrice }}</p>
                                {% else %}
                                    <p class="list-group-item-text">原价：{{ game.OriginalPrice }}</p>
                                {% endif %}

                                {% if game.DiscountPct == 'no discount_pct' %}
                                    <p class="list-group-item-text">折扣：暂无新折扣</p>
                                {% else %}
                                    <p class="list-group-item-text">折扣：{{ game.DiscountPct }}</p>
                                {% endif %}
                                <p class="list-group-item-text">现价：{{ game.FinalPrice }}</p>
                                <p class="list-group-item-text">史低（自建站以来）：{{ game.LowestPrice }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </ul>
        {% else %}
            <p>暂无游戏</p>
        {% endif %}
    {% else %}
        <h1>你尚未登录，只能访问公开内容！</h1>
    {% endif %}
{% endblock %}